body {
    background-color: rgb(245, 107, 2);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
}

.wrapper {
    height: 600px;
    width: 60%;
    margin: auto;
    background-color: antiquewhite;
}
